body {
    background-color: rgb(243, 242, 242);
}

#myiframe {
    width:600px; 
    height:100%;
} 

#menu {
    margin-top: 62px;
}

.carrusel.button{
    position: absolute;
    top: 50%;
}
.carrusel.button.left{
    left: -3%;
}

.carrusel.button.right{
    right: -3.5%;
}