body {
    background-color: rgb(243, 242, 242);
    font-family: 'Varela Round', sans-serif;
}

#myiframe {
    width:600px; 
    height:100%;
} 

#menu {
    margin-top: 62px;
}

.carrusel.button{
    position: absolute;
    top: 50%;
}
.carrusel.button.left{
    left: -3%;
}

.carrusel.button.right{
    right: -3.5%;
}

.fluid.image{
    margin-top: 62px;
}

@media only screen and (max-width: 768px) {
    .ui.menu.browser{
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .ui.menu.movil{
        display: none;
    }
}