<div id="fb3d-ctx" class="flip-book">
  <div id="cargando"></div>
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span><i class="angle left icon" title="<$tr>Anterior</$tr>"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span><i class="angle right icon" title="<$tr>Siguiente</$tr>"></i></span></a>
      </div>
    </div>
    <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
    <div class="widLoading page-loading hidden">
    </div>
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      <$tr>Tabla de contenido</$tr>
      <a href="#" title="<$tr>Close</$tr>" class="close cmdCloseToc">
        <span class="icon"><i class="fa fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="ctrl">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#"><$tr>Marcadores</$tr></a></li>
              <li class="cmdThumbnails"><a href="#"><$tr>Miniaturas</$tr></a></li>
              <li class="cmdSearch"><a href="#"><$tr>Buscar</$tr></a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
          <div class="widSearch toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="ctrl js-center">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fa fa-search-plus" title="<$tr>Acercar</$tr>"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fa fa-search-minus" title="<$tr>Alejar</$tr>"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fa fa-bookmark" title="<$tr>Tabla de contenidos</$tr>"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fa fa-backward" title="<$tr>Anterior</$tr>"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fa fa-forward" title="<$tr>Siguiente</$tr>"></i></span></a></li>
          <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fa fa-print"  title="<$tr>Imprimir</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fa fa-arrows-alt" title="<$tr>Pantalla completa</$tr>"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings">
            <a href="#"><div class="icon-caret"><span class="icon"><i class="fa fa-cog" title="<$tr>Configuraciones</$tr>"></i> <i class="caret"></i></span></div></a>
            <ul class="menu hidden">
              <li  class="cmdSmartPan"><a href="#"><span class="icon"><i class="fa fa-eye"></i></span> <$tr>Vista inteligente</$tr></a></li>
              <li  class="cmdSinglePage"><a href="#"><span class="icon"><i class="fa fa-file-o"></i></span> <$tr>Pagina unica</$tr></a></li>
              <li  class="cmdStats"><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span> <$tr>Estadisticas</$tr></a></li>
              <li class="divider"></li>
              <li  class="cmdLightingUp"><a href="#"><span class="icon"><i class="fa fa-chevron-up"></i></span> <$tr>Aumentar brillo</$tr></a></li>
              <li  class="cmdLightingDown"><a href="#"><span class="icon"><i class="fa fa-chevron-down"></i></span> <$tr>Reducir brillo</$tr></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
